@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



.sidebar-icon {
  @apply relative flex items-center justify-center w-20 h-20 text-gray-400 mt-8 mb-8 mx-auto shadow-xl rounded-full 
  hover:text-gray-500 hover:bg-gray-100 hover:shadow-md;

}

body {
  @apply bg-gray-100;
}